In [1]:
#import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from datetime import datetime, date

In [2]:
#import dataset
with pd.ExcelFile(r'C:\Users\Victordanok\Desktop\Projects\KPMG\KPMG_VI_New_raw_data_update_final.xlsx') as reader:
    trans = pd.read_excel(reader, sheet_name = 'Transactions', header = 1)
    ncl = pd.read_excel(reader, sheet_name = 'NewCustomerList', header = 1)
    cdem = pd.read_excel(reader, sheet_name = 'CustomerDemographic', header = 1)
    cadd = pd.read_excel(reader, sheet_name = 'CustomerAddress', header = 1)

In [3]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 1.6+ MB

In [4]:
trans.customer_id.nunique()

3494

In [5]:
cdem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 265.7+ KB

In [6]:
cadd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 140.7+ KB

In [7]:
trans.customer_id.nunique()

3494

In [8]:
cdem.customer_id.nunique()

4000

In [9]:
cadd.customer_id.nunique()

3999

### Merging the Datasets

In [10]:
add_dem = pd.merge(cdem, cadd, on = 'customer_id', how = 'left')

In [11]:
customers = pd.merge(add_dem, trans, on = 'customer_id', how = 'left')

In [12]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20504 entries, 0 to 20503
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          20504 non-null  int64
 1   first_name                           20504 non-null  object
 2   last_name                            19849 non-null  object
 3   gender                               20504 non-null  object
 4   past_3_years_bike_related_purchases  20504 non-null  int64
 5   DOB                                  20047 non-null  datetime64[ns]
 6   job_title                            18027 non-null  object
 7   job_industry_category                17180 non-null  object
 8   wealth_segment                       20504 non-null  object
 9   deceased_indicator                   20504 non-null  object
 10  default                              19005 non-null  object
 11  owns_car                             20504 non-null  object
 12  tenure                               20047 non-null  float64
 13  address                              20475 non-null  object
 14  postcode                             20475 non-null  float64
 15  state                                20475 non-null  object
 16  country                              20475 non-null  object
 17  property_valuation                   20475 non-null  float64
 18  transaction_id                       19997 non-null  float64
 19  product_id                           19997 non-null  float64
 20  transaction_date                     19997 non-null  datetime64[ns]
 21  online_order                         19637 non-null  float64
 22  order_status                         19997 non-null  object
 23  brand                                19800 non-null  object
 24  product_line                         19800 non-null  object
 25  product_class                        19800 non-null  object
 26  product_size                         19800 non-null  object
 27  list_price                           19997 non-null  float64
 28  standard_cost                        19800 non-null  float64
 29  product_first_sold_date              19800 non-null  float64
dtypes: datetime64[ns](2), float64(9), int64(2), object(17)
memory usage: 3.5+ MB

In [13]:
#Create an age column for the dataset

import datetime as dt
today = dt.datetime.today().year #current year
customers['age'] = today - customers.DOB.dt.year

In [14]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20504 entries, 0 to 20503
Data columns (total 31 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          20504 non-null  int64
 1   first_name                           20504 non-null  object
 2   last_name                            19849 non-null  object
 3   gender                               20504 non-null  object
 4   past_3_years_bike_related_purchases  20504 non-null  int64
 5   DOB                                  20047 non-null  datetime64[ns]
 6   job_title                            18027 non-null  object
 7   job_industry_category                17180 non-null  object
 8   wealth_segment                       20504 non-null  object
 9   deceased_indicator                   20504 non-null  object
 10  default                              19005 non-null  object
 11  owns_car                             20504 non-null  object
 12  tenure                               20047 non-null  float64
 13  address                              20475 non-null  object
 14  postcode                             20475 non-null  float64
 15  state                                20475 non-null  object
 16  country                              20475 non-null  object
 17  property_valuation                   20475 non-null  float64
 18  transaction_id                       19997 non-null  float64
 19  product_id                           19997 non-null  float64
 20  transaction_date                     19997 non-null  datetime64[ns]
 21  online_order                         19637 non-null  float64
 22  order_status                         19997 non-null  object
 23  brand                                19800 non-null  object
 24  product_line                         19800 non-null  object
 25  product_class                        19800 non-null  object
 26  product_size                         19800 non-null  object
 27  list_price                           19997 non-null  float64
 28  standard_cost                        19800 non-null  float64
 29  product_first_sold_date              19800 non-null  float64
 30  age                                  20047 non-null  float64
dtypes: datetime64[ns](2), float64(10), int64(2), object(17)
memory usage: 3.7+ MB

### Exploratory data analysis

### Cleaning the customers dataset

In [15]:
#customers.drop(columns =['default', 'address', 'first_name', 'last_name'], inplace = True, axis = 1)